    .page{
      display: none;
    }


    *{
        font-family: 'Open Sans', sans-serif;
    }

    body{
    	box-sizing: border-box;
    	background-image: url(../../assets/img/background-clouds.jpg);
    }

    nav{
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        transition: all .8s;
        z-index: 10000000;
        left: 0px;

        p{
            color: white;
            align-self: center;
            position: absolute;
            font-size: 1.4rem;
        }

        .logo{
            width: 10%;
            background-image: url(../../assets/img/db_04.svg);
            background-repeat: no-repeat;
            padding-bottom: 5%;
            align-self: center;
        }

            
            
        
        .inner-nav{
          width: 40%;
          position: relative;
          top: -500px;
          transition: all .8s;
          opacity: 0;

          ul{

            li{
                list-style-type: none;
                margin-top: 5%;
                opacity:0;
                transition:.2s all;
                
                a{
                color: white;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                }  
            }
          }
        }

        .hamburger{
          width: 10%;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          position: relative;
          transition: all .8s;
          transform: scale(2);
          align-self: center;

        }
    }

    .nav-text{
        opacity: 1;
        transition: all .2s;
    }

    .nav-active{
                padding-bottom: 100vh;
                .inner-nav{
                    top: 140px;
                    padding-bottom: 40vh;
                    z-index: 10000000; 
                    opacity: 1;
                    >ul li  {
                        opacity:1;
                    }
                } 

                .nav-text{
                    opacity: 0;
                }
                
            }

        

        

    .thumbnail-wrap{
      position: relative;
      margin: 0 auto;
      margin-top: 15vh;
      width: 97%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;



      .thumbnail{
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-decoration: none;
        font-size: 1.75rem;
        transition: .3s;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        a{
          align-items: center;
        text-decoration: none;
        color: #fff;
        background-color: rgba(70, 70, 70, 0.9);
        width: 100%;
        padding: 15px 0;
        opacity: 0;
        z-index: -100;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        z-index: 0;
        transition: .3s;
        font-weight: 400;
        letter-spacing: .85px;
        font-size: 1.5rem;
        position: absolute;
        bottom: -30px;
        }

         &:hover{
            a{
              bottom: 0;
              opacity: 1;
            }
          }
        }

         .tesla-img,.smithsonian-img, .bakery-img,.zeppelin-img , .superhero-img, .smores-img{
            width: 47%;
            padding-bottom: 25%;
            backgoround-position: center;
        }

        .slipstream-img, .google-yelp-img{
            width: 97%;
            padding-bottom: 50%;
            backgoround-position: center;
            margin-top: 2.5%;
            margin-bottom: 2.5%;
        }
    }

    .single-page-wrap{
      width: 97%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      
      .large-thumb{
        width: 50%;
        margin-top: 5vh;

        img{
            width: 100%;
        }
    }

    .single-page-url{
        color: white;
        text-decoration: none;
        font-size: 2rem;
        font-style: italic;
    }

    p{
        font-size: 1.6rem;
    }

    h1{
        margin-top: 5%;
    }


}

.about-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .about-thumb-wrap{
      margin-top: 10%;
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
  }

  p{
    color: white;
  }
}

form{
  display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

    p{
      color: white;
      margin-bottom: 20px;
    }

    input{
          background: transparent;
    border: none;
    border-bottom: 1px soild white;
    border-bottom: 1px solid white;
    height: 40px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    }
}



@media screen and (max-width: 600px){
  nav{
    .logo{
      width: 30%;
      padding-bottom: 15%;
    }

    .nav-text{
      width: 50%;
    }

    .inner-nav{
      left: -55px;
    }
  }

  .thumbnail-wrap{
    display: flex;
    flex-direction: column;

    .thumbnail{
      width: 100%;
      margin-bottom: 5%;
      padding-bottom: 50%;
      transition: none;
      bottom: 0;

      &:hover{

      }

      a{
        opacity: 1;
        transition: none;
        position: absolute;
        bottom: 0px;
        margin: 0;
      }
    }
  }
}











